
body{
    margin:0;
    padding:0;
}
.tagline{
    background-color: #eeeeee;
    color:#000000;
    margin:0;
    text-align: center;
    font-size:25px;
}
.navbar{
    margin-top:0;
    font-size:25px;
    background-color: #000;
    color:#bcc8cf;
    display:flex;
    align-items: center;
}
.navbar-menu-contianer{
    margin-left:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-menu{
    background-color: #d1d1d1;
    color:black;
    font-size: 15px;
    padding:5px 15px;
    border:1px solid white;
    margin:15px;
    border-radius: 5px;
}
.page-header{
    height:200px;
    background-color: #eee;
    margin: 20px 10px;
    padding:10px;
}
.latest-offers{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.popular-brands{
    height:100px;
    background-color: #565656;
    color:#eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 10px;
    padding:10px;
}
.popular-products{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-electronics{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-clothing{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-footwear{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-beauty-care{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-groceries{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.deals-on-food{
    height:250px;
    background-color: #eee;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding:10px;
}
.card{
    width:200px;
    border:1px solid black;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
button{
    margin-top: 100px;
    margin-bottom: 20px;
    padding:5px 15px;
    background-color:#8daec4 ;
    color:white;
    border-radius: 5px;
    border:none;
}
p{
    text-align: center;
    font-size: 40px;
}
.review-section{
    height:300px;
    text-align: center;
    background-color: #8daec4;
}

.shop-footer{
    height:200px;
    background-color: #000000;
    text-align: center;
    color:white;
}

